@color: #ded6f5;

:local {

  .main {
    box-sizing: border-box;
    display: inline-block;
    margin: 30px;
  }

  .block {
    box-sizing: border-box;
    width: 300px;
    height: 65px;
    border: 1px solid darken(@color, 10%);
    padding: 20px 30px;

    .combobox {
      margin-top: -5px;
      margin-left: -10px;
      display: none;
    }

    .text {
      color: grey;
      display: inline;
    }

    &:hover {
      .combobox {
        display: block;
      }
      .text {
        display: none;
      }
    }
  }
}
